@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F8F8F8;
  --black: #000000;
  --gold: #FFC633;

  /* Card bg */
  --blue: #93BEFF;
  --green: #B0FF80;
  --yellow: #FFE589;
  --purple: #878CFF;
  --red: #FF9B9B;
}
