@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8f8f8;
  --black: #000000;
  --gold: #ffc633;

  /* Card bg */
  --blue: #93beff;
  --green: #b0ff80;
  --yellow: #ffe589;
  --violet: #878cff;
  --red: #ff9b9b;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f8f8f8;
  background: #000000;
}

::selection {
  color: #f8f8f8;
  background: #000000;
}

html {
  scrollbar-width: thin;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  text-rendering: optimizeSpeed !important;
  /* Web browsers should have this by default aaaa */
  overflow-x: hidden;
}

main {
  padding: 1.5em 3em;
}

* {
  font-family: var(--root-font);
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
  font-weight: 800;
}

h2 {
  font-weight: 700;
  font-size: 26px;
}

button,
a,
p {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 16px;
}

#white {
  background-color: var(--bg);
}

#red {
  background-color: var(--red);
}

#green {
  background-color: var(--green);
}

#blue {
  background-color: var(--blue);
}

#violet {
  background-color: var(--violet);
}

#yellow {
  background-color: var(--yellow);
}

.more {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: absolute;
  right: 12px;
  border: 2px solid #00000021;
  border-radius: 8px;
  padding: 1px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.more:hover {
  transform: scale(0.9);
  padding: 1px 3px;
}

.copypaste {
  position: absolute;
  right: 0px;
  display: flex;
  gap: 8px;
  background: var(--bg);
  z-index: 6;
  border: 2px solid;
  margin-top: -36px;
  border-radius: 8px;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(20px);
  animation: 0.1s popout forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popout {
  0% {
    transform: scale(0.4) translateY(20px);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.copypaste div {
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.copypaste div:hover {
  transform: scale(0.9);
  opacity: 0.9;
}

.copypaste #delete {
  color: var(--bg) !important;
  background-color: #ff2525;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  gap: 24px;
}

#title {
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: grab;
}

#title:hover {
  letter-spacing: -2px;
}

#new {
  background-color: var(--gold);
  padding: 4px 8px;
  border-radius: 10px;
  border: 2px solid var(--black);
  border-bottom-width: 4px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#new:hover {
  border-bottom-width: 2px;
}

form input {
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 18px;
  border: 3px solid var(--black);
  background-color: rgba(255, 255, 255, 0.7);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 14px;
  opacity: 0.6;
}

dialog {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: none;
  display: flex;
  gap: 24px;

  padding: 32px;
}

#centerpoint {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}

.dialogBox {
  position: relative;
  border: 5px solid var(--black);
  border-bottom-width: 10px;
  border-right-width: 10px;
  border-radius: 58px;
  width: 600px;
  height: 255px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.p-password i {
  position: relative;
  top: 14px;
  right: -4px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.p-password i:hover {
  transform: scale(0.9);
  color: var(--black);
  background: rgba(0, 0, 0, 0.1);
  
}

.colorPicker button {
  height: 30px;
  width: 48px;
  border: 2.5px solid var(--black);
  border-radius: 10px;
  border-bottom-width: 4px;
  border-right-width: 4px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.colorPicker button:hover {
  transform: scale(1.05);
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.colorPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.save {
  position: absolute;
  bottom: 21vh;
  font-size: 18px;
  padding: 4px 22px !important;
}
